$content-bg: yellow;
$font: whitesmoke;
$borders: #333;
$highlight: rgb(177, 2, 2);

@mixin myPadding {
    padding: 0px 10px;
}

@mixin myBorder {
    border-color: $borders;
    border-style: groove;
    border-radius: 5px;
    border-width: 1px;
}

* {
    display: border-box;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
}

main {
    @include myBorder;
}

h1 {
    margin: 0;
}

#title {
    color: $font;
    font-size: 5rem;
    font-weight: 700;
    margin: 15px 0px;
    background-color: $highlight;
    @include myPadding;
    @include myBorder;
}

#description {
    margin: 0;
    padding: 15px 5px 5px 15px;
    display: block;
    font-weight: 300;
    font-style: italic;
    background: $content-bg;
}

form {
    font-family: 'Indie Flower', cursive;
    font-size: 1.1rem;
    background-color: $content-bg;
    padding: 20px 0px;

    * {
        margin-bottom: 4px;
    }

    .formbox {
        width: 100%;

        label,
        span {
            display: inline-block;
            width: 30%;
            @include myPadding;
            text-align: right;
        }

        p {
            @include myPadding;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="radio"],
        textarea {
            display: inline-block;
            width: 50%;
            @include myPadding;
            margin-right: 10px;
        }

        textarea {
            rows: 2;
        }

        button {
            // width: 50%;
            @include myPadding;
            background-color: $highlight;
            color: $font;
            font-size: 1.4rem;
        }
    }

    option {
        font-family: 'Indie Flower', cursive;
    }
}