$content-bg: yellow;

@mixin myPadding {
    padding: 0px 10px;
}

* {
    display: border-box;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
}

h1 {
    margin: 0;
}

#title {
    font-size: 5rem;
    font-weight: 700;
    @include myPadding;
    margin: 15px 0px;
}

#description {
    margin: 0;
    padding: 15px 5px 5px 15px;
    display: block;
    font-weight: 300;
    font-style: italic;
    background: $content-bg;
}

form {
    font-family: 'Indie Flower', cursive;
    font-size: 1.1rem;
    background-color: $content-bg;
    padding: 20px 0px;

    * {
        margin-bottom: 4px;
    }

    .formbox {
        width: 100%;

        label,
        span,
        button {
            display: inline-block;
            width: 30%;
            @include myPadding;
            text-align: right;
        }

        p {
            @include myPadding;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"],
        input[type="radio"],
        textarea {
            display: inline-block;
            width: 50%;
            @include myPadding;
            margin-right: 10px;
        }

        textarea {
            rows: 2;
        }
    }

    option {
        font-family: 'Indie Flower', cursive;
    }
}