$content-bg: yellow;
@mixin myPadding {
    padding: 0px 10px;
}

* {
    display: border-box;
    padding: 0px;
    font-family: 'Indie Flower', cursive;
    margin: 0;
}

#title {
    font-size: 5rem;
    font-weight: 700;
    @include myPadding;
    margin-top: 25px;
}

#description {
    margin-top: 2rem;
    padding: 25px 5px 5px 15px;
    display: block;
    font-weight: 300;
    font-style: italic;
    background-color: $content-bg;
}

form {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    background-color: $content-bg;
    padding: 20px 0px;
    * {
        margin-bottom: 4px;
    }
    .formbox {
        width: 100%;
        label,
        span {
            display: inline-block;
            width: 20%;
            @include myPadding;
            text-align: right;
        }
        input[type="text"],
        input[type="email"],
        input[type="number"],
            {
            display: inline-block;
            width: 50%;
            @include myPadding;
            margin-right: 10px;
        }
    }
    option {
        font-family: 'Indie Flower', cursive;
    }
}